<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn Vue JS</title>
    <script src="https://unpkg.com/vue@3.0.2"></script> <!--<script src="https://unpkg.com/vue@next"></script>-->
</head>
<body>
    <h1>Vue JS</h1>
    <div id="app">
        <!-- <p>{{ title }} - {{ author }} - {{ age }}</p> -->
        <div v-if="showBooks"> <!--from Vue.createApp-->
            <p>{{ title }} - {{ author }} - {{ age }}</p>
        </div>
        <button v-on:click="age++">Increase age</button>
        <button v-on:click="age--">Decrease age</button>
        <!-- <div @click="title = 'More and more'">Click to change book title</div> -->
        <div @click="changeTitle('Twice')">Click to change book title</div> <!--calls the func changeTitle-->
        <button @click="toggleShowBooks"> <!--methods-->
            <span v-if="showBooks">Hide Books</span> <!--from Vue.createApp-->
            <span v-else>Show Books</span> <!--from Vue.createApp-->
        </button>
        <div v-show="showBooks">Currently showing books</div>
    </div>
</body>
<script src="hello.js"></script>
<script src="app.js"></script>
</html>