<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn Vue JS</title>
    <script src="https://unpkg.com/vue@3.0.2"></script> <!--<script src="https://unpkg.com/vue@next"></script>-->
    <style>
        .box {
            padding: 100px 0;
            width: 400px;
            text-align: center;
            background: #ddd;
            margin: 20px;
            display: inline-block;
        }
    </style>
</head>
<body>
    <h1>Vue JS</h1>
    <div id="app">
        <!-- <p>{{ title }} - {{ author }} - {{ age }}</p> -->
        <a :href="url">Youtube</a> <!--v-bind-->
        <div v-if="showBooks"> <!--from Vue.createApp-->
            <!-- <p>{{ title }} - {{ author }} - {{ age }}</p> -->
            <ul>
                <li v-for="book in books"> <!--book can be renamed as you want, books is from const app-->
                    <img :src="book.img" :alt="book.title"> <!--: shortcut for v-bind-->
                    <h3>{{ book.title }}</h3> <!--array books-->
                    <p>{{ book.author }}</p> <!--array books-->
                </li>
            </ul>
        </div>
        <!-- <button v-on:click="age++">Increase age</button>
        <button v-on:click="age--">Decrease age</button> -->
        <!-- <div @click="title = 'More and more'">Click to change book title</div> -->
        <div @click="changeTitle('Twice')">Click to change book title</div> <!--calls the func changeTitle-->
        <button @click="toggleShowBooks"> <!--methods // @click is onclick-->
            <span v-if="showBooks">Hide Books</span> <!--from Vue.createApp-->
            <span v-else>Show Books</span> <!--from Vue.createApp-->
        </button>
        <div v-show="showBooks">Currently showing books</div>

        <br>

        <div class="box" @mouseover="handleEvent($event, 5)">Mouseover (enter)</div>
        <div class="box" @mouseleave="handleEvent">Mouseleave</div>
        <div class="box" @dblclick="handleEvent">Doubleclick</div>
        <div class="box" @mousemove="handleMouseMove">Position {{ x }} - {{ y }}</div>
    </div>
</body>
<script src="hello.js"></script>
<script src="app.js"></script>
</html>